
body {
    background-color: bisque;

}

.div1 {
    background-color: rgb(165, 42, 42);
    font-family: arial, sans-serif;
}

.div2 {
    background-image: radial-gradient(circle at left, blue, red);
        
}